<!DOCTYPE html>
<html>
  <head>
	<title>Données bluetooth</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
	<table class="table">
	  <thead class="thead-dark">
	  <tr>
		<th scope="col">id</th>
		<th scope="col">Name</th>
		<th scope="col">rssi</th>
	  </tr>
	 </thead>
	 <tbody>
		<tr {% for d in devices %}>
			<span id="device-{{loop.index}}" class="device">
				<td>{{d.id}}</td>
				<td>{{d.name}}</td>
				<td>{{d.rssi}}</td>
			</span>
		</tr {% endfor %}> 
	 </tbody>
	</table>
  </body>
</html>

<!--<!DOCTYPE html>
<html>
  <head>
	<title></title>
	<style>
	  .device {
	    margin: 10px auto;
	    border:1px solid black;
	  }
	</style>
  </head>
    <body>
		{% for d in devices %}
			<div id="device-{{loop.index}}" class="device">
				<div>{{d.id}}</div>	
				<div>{{d.name}}</div>
				<div>{{d.rssi}}</div>
			</div>
		{% endfor %}
  </body>
</html>-->