<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../assets/style.css">
      <link rel="stylesheet" href="../assets/bootstrap-4.4.1/dist/css/bootstrap.min.css">
	<title></title>
  </head>
  <body>
	<div id="device-{{loop.index}}" class="device">
	  <div>0</div>
	  <div>R-Music Voxy</div>
      <div>-55</div>
	</div>
    <div id="device-{{loop.index}}" class="device">
        <div>1</div>
        <div>Jelly-Pro</div>
        <div>-54</div>
      </div>
      <div id="device-{{loop.index}}" class="device">
        <div>2</div>
        <div>Freebox Player Mini</div>
        <div>-55</div>
      </div>
      <div id="device-{{loop.index}}" class="device">
        <div>3</div>
        <div>[TV] Samsung Frame Series (43)</div>
        <div>-67</div>
      </div>
      <div id="device-{{loop.index}}" class="device">
        <div>4</div>
        <div>NeoMatrix</div>
        <div>-72</div>
      </div>
      <div id="device-{{loop.index}}" class="device">
        <div>5</div>
        <div>KEF EGG</div>
        <div>-77</div>
      </div>
    
     
  </body>
</html>